<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %>
    <main>
        <section class="products-all-prod">
            <div class="productContainer-all-prod">
                <ul class="ul-all-prod">
                    <% productList.forEach (product =>  { %>
                        <!-- LO COMENTO PORQUE NO TIENE NINGUNA FUNCION -->
                        <!-- <li>
                            <a href="/products/<%= product.id %>"><%= product.name %></a>
                        </li> -->
                        <div class="product-all-prod">
                            <a href="/productDetail/<%= product.id %>">
                                <!-- <div class="imgProduct-all-prod"> -->
                                    <img src="<%= product.image%>" npm>
                                <!-- </div> -->
                            </a>
                            <h3 class="prod-name-all-prod">
                                <%= product.name %>
                            </h3>
                            <p class="prev-price-all-prod">
                                <span class="previous-price-all-prod">$10.000</span>
                            </p>
                            <h2 class="prod-price-all-prod"><%= product.price %></h2>
                            <button class="add-cart-all-prod" type="submit"> Agregar al carrito </button>
                            <h4 class="prod-amount-all-prod"> Cantidad: </h4> <select name="product-amount" id="">
                                <option value="one">1</option>
                                <option value="two">2</option>
                                <option value="three">3</option>
                                <option value="four">4</option>
                                <option value="five">5</option>
                            </select>

                            <p class="country-all-prod"> <img class="country-icon-all-prod" src="../img/icons/icono-AR-48.png"
                                alt="bandera-pais"><%= product.origen %> <%= product.region %></p>
                            <p class="shipping-all-prod"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
                            <p class="rules-all-prod"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS
                            </p>

                        <!-- <button class="btn-send-description" type="submit" value="Enviar"> Descripción del producto</button> -->

                        </div>
                    <% }) %>
                </ul>
                    <!-- <div class="product">
                        <a href="productDetail">
                            <div class="imgProduct"><img src="../img/imgs/palo_alto_joven-cabernet_sauvignon.png">
                            </div>
                        </a>
                        <p>
                            <span class="previous-price">$10.000</span>
                        </p>
                        <h3>Palo Alto Joven Cabernet Sauvignon</h3>
                        <h2>$8.000</h2>
                        <button type="submit"> Agregar al carrito </button>
                        <h4> Cantidad: </h4> <select name="product-amount" id="">
                            <option value="one">1</option>
                            <option value="two">2</option>
                            <option value="three">3</option>
                            <option value="four">4</option>
                            <option value="five">5</option>
                        </select>

                        <p class="country"> <img class="country-icon" src="../img/icons/icono-AR-48.png"
                                alt="bandera-pais"> Mendoza, Argentina</p>
                        <p class="shipping"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
                        <p class="rules"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS
                        </p>
                    </div>


                    <div class="product">
                        <a href="productDetail">
                            <div class="imgProduct"><img src="../img/imgs/palo_alto_joven-cabernet_sauvignon.png">
                            </div>
                        </a>
                        <h3>Palo Alto Joven Cabernet Sauvignon</h3>
                        <p>
                            <span class="previous-price">$10.000</span>
                        </p>
                        <h2>$8.000</h2>
                        <button type="submit"> Agregar al carrito </button>
                        <h4> Cantidad: </h4> <select name="product-amount" id="">
                            <option value="one">1</option>
                            <option value="two">2</option>
                            <option value="three">3</option>
                            <option value="four">4</option>
                            <option value="five">5</option>
                        </select>

                        <p class="country"> <img class="country-icon" src="../img/icons/icono-AR-48.png"
                                alt="bandera-pais"> Mendoza, Argentina</p>
                        <p class="shipping"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
                        <p class="rules"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS
                        </p>
                    </div>

                    <div class="product">
                        <a href="productDetail">
                            <div class="imgProduct"><img src="../img/imgs/palo_alto_joven-cabernet_sauvignon.png">
                            </div>
                        </a>
                        <h3>Palo Alto Joven Cabernet Sauvignon</h3>
                        <p>
                            <span class="previous-price">$10.000</span>
                        </p>
                        <h2>$8.000</h2>
                        <button type="submit"> Agregar al carrito </button>
                        <h4> Cantidad: </h4> <select name="product-amount" id="">
                            <option value="one">1</option>
                            <option value="two">2</option>
                            <option value="three">3</option>
                            <option value="four">4</option>
                            <option value="five">5</option>
                        </select>

                        <p class="country"> <img class="country-icon" src="../img/icons/icono-AR-48.png"
                                alt="bandera-pais"> Mendoza, Argentina</p>
                        <p class="shipping"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
                        <p class="rules"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS
                        </p>
                    </div>
                    <div class="product">
                        <a href="productDetail">
                            <div class="imgProduct"><img src="../img/imgs/palo_alto_joven-cabernet_sauvignon.png">
                            </div>
                        </a>
                        <h3>Palo Alto Joven Cabernet Sauvignon</h3>
                        <p>
                            <span class="previous-price">$10.000</span>
                        </p>
                        <h2>$8.000</h2>
                        <button type="submit"> Agregar al carrito </button>
                        <h4> Cantidad: </h4> <select name="product-amount" id="">
                            <option value="one">1</option>
                            <option value="two">2</option>
                            <option value="three">3</option>
                            <option value="four">4</option>
                            <option value="five">5</option>
                        </select>

                        <p class="country"> <img class="country-icon" src="../img/icons/icono-AR-48.png"
                                alt="bandera-pais"> Mendoza, Argentina</p>
                        <p class="shipping"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
                        <p class="rules"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS
                        </p>
                    </div>

                    <div class="product">
                        <a href="productDetail">
                            <div class="imgProduct"><img src="../img/imgs/palo_alto_joven-cabernet_sauvignon.png">
                            </div>
                        </a>
                        <h3>Palo Alto Joven Cabernet Sauvignon</h3>
                        <p>
                            <span class="previous-price">$10.000</span>
                        </p>
                        <h2>$8.000</h2>
                        <button type="submit"> Agregar al carrito </button>
                        <h4> Cantidad: </h4> <select name="product-amount" id="">
                            <option value="one">1</option>
                            <option value="two">2</option>
                            <option value="three">3</option>
                            <option value="four">4</option>
                            <option value="five">5</option>
                        </select>

                        <p class="country"> <img class="country-icon" src="../img/icons/icono-AR-48.png"
                                alt="bandera-pais"> Mendoza, Argentina</p>
                        <p class="shipping"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
                        <p class="rules"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS
                        </p>
                    </div>

                    <div class="product">
                        <a href="productDetail">
                            <div class="imgProduct"><img src="../img/imgs/palo_alto_joven-cabernet_sauvignon.png">
                            </div>
                        </a>
                        <h3>Palo Alto Joven Cabernet Sauvignon</h3>
                        <p>
                            <span class="previous-price">$10.000</span>
                        </p>
                        <h2>$8.000</h2>
                        <button type="submit"> Agregar al carrito </button>
                        <h4> Cantidad: </h4> <select name="product-amount" id="">
                            <option value="one">1</option>
                            <option value="two">2</option>
                            <option value="three">3</option>
                            <option value="four">4</option>
                            <option value="five">5</option>
                        </select>

                        <p class="country"> <img class="country-icon" src="../img/icons/icono-AR-48.png"
                                alt="bandera-pais"> Mendoza, Argentina</p>
                        <p class="shipping"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
                        <p class="rules"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS
                        </p>
                    </div>

                    <div class="product">
                        <a href="productDetail">
                            <div class="imgProduct"><img src="../img/imgs/palo_alto_joven-cabernet_sauvignon.png">
                            </div>
                        </a>
                        <h3>Palo Alto Joven Cabernet Sauvignon</h3>
                        <p>
                            <span class="previous-price">$10.000</span>
                        </p>
                        <h2>$8.000</h2>
                        <button type="submit"> Agregar al carrito </button>
                        <h4> Cantidad: </h4> <select name="product-amount" id="">
                            <option value="one">1</option>
                            <option value="two">2</option>
                            <option value="three">3</option>
                            <option value="four">4</option>
                            <option value="five">5</option>
                        </select>

                        <p class="country"> <img class="country-icon" src="../img/icons/icono-AR-48.png"
                                alt="bandera-pais"> Mendoza, Argentina</p>
                        <p class="shipping"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
                        <p class="rules"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS
                        </p>

                    </div>

                    <div class="product">
                        <a href="productDetail">
                            <div class="imgProduct"><img src="../img/imgs/palo_alto_joven-cabernet_sauvignon.png">
                            </div>
                        </a>
                        <h3>Palo Alto Joven Cabernet Sauvignon</h3>
                        <p>
                            <span class="previous-price">$10.000</span>
                        </p>
                        <h2>$8.000</h2>

                        <p class="country"> <img class="country-icon" src="../img/icons/icono-AR-48.png"
                                alt="bandera-pais"> Mendoza, Argentina</p>
                        <p class="shipping"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
                        <p class="rules"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS
                        </p>
                    </div> -->
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>


</body>

</html>