<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head2') %> 

<body>
    <%- include('../partials/header2') %>

    <div class="opacity-dark-background">
        <div class="top-container">
            <!-- Img -->
            <div class="container-img">
                <div class="container-img-detail">
                    <h4 class="none-media-medium centered-title primary-color">Gin Aconcagua</h4>
                    <img src="/img/product/<%= productId.image%>" alt="...">
                </div>
            </div>
            <!--Button box -->
            <div class="button-box">
                <div class="container-subtitle">
                    <h4 class="primary-color none-media-small"><%= productId.name %></h4>
                    <p class="bold primary-color">$<%= productId.price %></p>
                    <p class="primary-color none-media-small" >Llega gratis mañana </p>
                    <p class="primary-color none-media-small">Retirá gratis a partir de mañana en otros puntos</p>
                    <a type="button" class="primary-color" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <h5>Medios de pagos</h5>
                    </a>
                </div>
                <div  class="container-buttons d-flex flex-column p-4">
                    <!-- Amount -->
                    
                    <button onclick="addtoCart(this)" id="add-cart-btn" 
                    data-id=<%= productId.id %>
                    data-image="/img/product/<%= productId.image%>"
                    data-name=<%= productId.name %>
                    data-description=<%= productId.description %>
                    data-price=<%= productId.price %> 
                    class="btn btn-outline-primary m-1">Agregar al carrito</button><br>
                    <% if(locals.userLogged && locals.userLogged.rol_id == 2) {%>
                        <form class="prod-detail-form"  action="/edit/<%= productId.id %>" >
                            <div class="btn-edit-prod-detail">
                                <button class=" btn btn-secondary m-1" type="submit">Editar</button>
                            </div>
                        </form>
                        <form class="prod-detail-form" id="del-btn-prod-detail" action="/product/delete/<%= productId.id %>?_method=DELETE" method="POST" data-productdelete="<%= productId.id %>">
                            <div class="btn-edit-prod-detail" >
                                <button  class=" btn btn-secondary m-1" type="submit" >Eliminar</button>
                            </div>
                        </form><%} %>

                        <style>
                            .mi-clase-container {
                                background-color: #201a1b; /* Color de fondo del contenedor */
                            }

                            .mi-clase-popup {
                                background-color: #201a1b; /* Color de fondo del cuadro de diálogo */
                            }

                            .mi-clase-backdrop {
                                background-color: #201a1b; /* Color de fondo del fondo oscurecido */
                            }

                            .mi-clase-titulo {
                                color: #ffd9e2; /* Color del título */
                            }

                            .mi-clase-texto {
                                color: #0000ff; /* Color del texto */
                            }

                            .mi-clase-container{
                                width: 100%;
                            }

                            .swal2-popup{
                                background-color: #201a1b;
                            }

                            .swal2-title{
                                color: #ffd9e2;
                            }

                            .swal2-styled.swal2-confirm{
                                background-color: #038c17;
                                color: #201a1b;
                            }

                        </style>
                </div>

            </div>
        </div>
            <!-- Description -->
                <div class="bottom-container">
                <div class="line"></div>
                
                    <div class="container-subtitle primary-color">
                        <h5>Características principales</h5>
                        <ul>
                            <li><%= productId.Category.category_name %></li>
                            <li><%= productId.Varietal.varietal_name %></li>
                            <li>Prohibida su venta a menores de 18 años</li>
                        </ul>
                        <h5>Información del producto</h5>
                        <table>
                            <tr>
                                <th>Marca</th>
                                <td><%= productId.Brand.brand_name %></td>
                            </tr>
                            <tr>
                                <th>Origen</th>
                                <td><%= productId.Origin.country %></td>
                            </tr>
                            <tr>
                                <th>Región</th>
                                <td><%= productId.Region.region %></td>
                            </tr>
                            <tr>
                                <th>Categoría</th>
                                <td><%= productId.Category.category_name %></td>
                            </tr>
                            <tr>
                                <th>Variedad</th>
                                <td><%= productId.Varietal.varietal_name %></td>
                            </tr>
                            <tr>
                                <th>Año de cosecha</th>
                                <td><%= productId.year %> </td>
                            </tr>
                        </table>
                        <div class="line none-media-medium"></div>
                        <h5>Descripción</h5>
                        <p><%= productId.description %> </p>
                    </div>
                </div>
        </div>  
    </div>

    <%- include('../partials/footer2') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="/js/prodDelete.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- ESTE SCRIPT ES DE SWEETALERT -->
    <script src="/js/cartCommon.js"></script>
    <script src="/js/cartProducts.js"></script>
    <script src="/js/prodDetail.js"></script>
    

    
</body>
</html>