<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>


        <%- include('../partials/header') %>
            <main>
                <form method="post" action="/modify/<%= product.id %>?_method=PUT">
                    <div class="registroProducto-edit-form">
                        <h3> EDICIÓN DE PRODUCTOS</h3>

                        <label for="nameproduct"></label>
                        <h4>Nombre del Producto: </h4><input type="text" name="name" id="name"
                            value="<%= product.name %>">
                        <br>

                        <label for="description"></label>
                        <h4>Descripción: </h4><input type="text" name="description" id="description"
                            value="<%= product.description %>">
                        <br>

                        <label for="price"></label>
                        <h4>Precio: </h4>
                        <input type="number" name="price" id="price" value="<%= product.price %>">
                        <br>

                        <label for="year"></label>
                        <h4>Año de Cosecha: </h4><input type="text" name="year" id="year" value="<%= product.year %>">
                        <br>

                        <label for="varietal"><h4>Variedad: </h4></label>
                        <select name="varietal" id="varietal" required>
                            <option selected disabled>Seleccione una variedad:</option>
                            
                            <% varietal.forEach(element=> { %>
                                <option value="<%= element.id %>">
                                    <%= element.varietal_name %>
                                </option>
                                <% }) %>

                        </select>

                        <label for="brand"><h4>Marca: </h4></label>
                        <select name="brand" id="brand" required>
                            <option disabled selected>Seleccione una marca:</option>
                
                            <% brand.forEach(element => { %>
                                <option value="<%= element.id %>"><%= element.brand_name %></option>
                            <% }) %>
                        </select>
                        
                        <br>
                        
                        <label for="origen"> <h4>País de Origen:</h4></label>
                            <select  name="origen" id="origen" required>
                                <option disabled selected>Seleccione origen:</option>
                                <!-- <option value="%= originById.id %>" selected>%= originById.country %></option> -->
                                <% origin.forEach(element => { %>
                                    <option value="<%= element.id %>"><%= element.country %></option>
                                <% }) %>
                            </select>
                        </br>
                        
                        <label for="region"><h4>Región: </h4></label>
                        <select name="region" id="region" required>
                            <option disabled selected>Seleccione una región:</option>
                            <!-- <option value="%= regionById.id %>" selected>%= regionById.region %></option> -->
                            <% region.forEach(element => { %>
                                <option value="<%= element.id %>"><%= element.region %></option>
                            <% }) %>
                        </select>
                        
                        <label for="category"> <h4>Categorías</h4></label>
                            <select  name="category" id="category" required>
                                <option disabled selected>Seleccione una categoría:</option>
                                <!-- <option value="%= categoryById.id %>" selected>%= categoryById.category_name %></option> -->
                                <% category.forEach(element => { %>
                                    <option value="<%= element.id %>"><%= element.category_name %></option>
                                <% }) %>
                            </select>
                        </br>

                        <label for="image"></label>
                        <h4>Imágen de producto</h4>
                        <img class="edit-form-img-edit-form" src="/img/product/<%= product.image%>">
                        <br>

                        <div class="prodCreate-buttons-edit-form">
                            <button type="submit" value="Actualizar">ACTUALIZAR</button>
                            <br>
                        </div>


                    </div>
                </form>
            </main>
            <footer>
                <div class="grupo2">
                    <small>&copy; 2023 <b>Foo Drinks.Co</b> - Todos los derechos reservados</small>
                </div>
            </footer>
    </body>