<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    

    <script src="https://kit.fontawesome.com/b5956fc21b.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d4cb0f35d2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/partials.css">
    <link rel="stylesheet" href="../css/productCreateForm.css">
    <title>Login</title>
</head>
<body class="reg2-body">
<header>
    <div class="top-header">

        <a href="/">
            <div class="logo-to-menu"> <img class="header-logo" src="../img/icons/logo-sin-fondo-1-beige.png" alt="logo" > </a>
        </a>
</header>
<main>
    <form class="product2-main" method="post" action = "/save" enctype="multipart/form-data">
        <ul class="errores">
            
        </ul>
        <div class="product2">
            <div class="reg2-box">
            
            <h1>Crear Producto</h1>

            <div class="reg2-name-product">
            <label for="nameproduct"></label>
            <input type="text" name="name" id="name" placeholder="Nombre del Producto">
            <% if (locals.errors && locals.errors.name) { %>
               <p style="color: red;"><%= errors.name.msg %></p>  
            <% } %>
            </div>
            <br>
            <!-- paso los errores de back a front porque el codigo de frontend se puede llegar manipular -->
            <div class="reg2-description">
            <label for="description"></label>
            <input type="text" name="description" id="description" placeholder="Descripción">
            <% if (locals.errors && locals.errors.description) { %>
                <p style="color: red;"><%= errors.description.msg %></p>  
             <% } %>
            </div>
            <br>
            
            <div class="reg2-price">
            <label for="price"></label>
            <input type="number" name="price" id="price" placeholder="Precio"><p class="p"></p>
            </div>
            <br>

            <div class="reg2-year">
            <label for="year"></label>
            <input type="text" name="year" id="year" placeholder="Año de Cosecha" ><p class="p"></p>
            </div>
            <br>
            
            <div class="reg2-varietal">
            <label for="varietal"></label>
            <select class="select-prod-create" name="varietal" id="varietal" >
                <option value="">Seleccione una variedad:</option>
                
                <% varietal.forEach(element => { %>
                    <option value="<%= element.id %>"><%= element.varietal_name %></option>
                <% }) %>
                
            </select><p class="p"></p>
            </div>
            <br>

            <div class="reg2-brand">
            <label for="brand"></label>
            <select class="select-prod-create" name="brand" id="brand" >
                <option value="">Seleccione una marca:</option>
                <% brand.forEach(element => { %>
                    <option value="<%= element.id %>"><%= element.brand_name %></option>
                <% }) %>
            </select><p class="p"></p>
            </div>
            <br>
            
            <div class="reg2-origen">
            <label for="origen"></label>
                <select class="select-prod-create" name="origen" id="origen" >
                    <option value="">Seleccione origen:</option>
                    <% origin.forEach(element => { %>
                        <option value="<%= element.id %>"><%= element.country %></option>
                    <% }) %>
                </select><p class="p"></p>
            </div>
            </br>
            
            <div class="reg2-region">
            <label for="region"></label>
            <select class="select-prod-create" name="region" id="region" >
                <option value="">Seleccione una región:</option>
                <% region.forEach(element => { %>
                    <option value="<%= element.id %>"><%= element.region %></option>
                <% }) %>
            </select><p class="p"></p>
            </div>
            <br>
            
            <div class="reg2-category">
            <label for="category"></label>
                <select class="select-prod-create" name="category" id="category" >
                    <option value="">Seleccione una categoría:</option>
                    <% category.forEach(element => { %>
                        <option value="<%= element.id %>"><%= element.category_name %></option>
                    <% }) %>
                </select><p class="p"></p>
            </div>
            <br>
            
            <div class="reg2-image">
                <label for = "image"></label>
                <h2>Carga la Imágen de producto</h2>
            
            <input type="file" name="image" id="image">
            
            <% if (locals.errors && locals.errors.image) { %>
                <p style="color: red;"><%= errors.image.msg %></p>  
             <% } %>
            </div>
            <br>
            <div class="reg2-button">
                <button class="sub-btn-reg2" type="submit" value="Crear">CREAR</button>
                
            </div>

            
        </div>
    </form>
</main>
    <script src="/js/prodCreate.js" type="text/javascript"></script>
    <script src="/js/createFunctions.js" type="text/javascript"></script>
</body>
<br>
<footer>
    <div class="grupo2">
    <small>&copy; 2023 <b>Foo Drinks.Co</b> - Todos los derechos reservados</small>
</div>
</footer>