<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script src="https://kit.fontawesome.com/b5956fc21b.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d4cb0f35d2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/productDeleteForm.css">
    <title>Login</title>
</head>

<body>
    <header>
        <div class="top-header">

            <a href="/">
                <div class="logo-to-menu"> <img class="header-logo" src="../img/imgs/logo-sin-fondo-1-beige.png"
                        alt="logo">
            </a>
            </a>
    </header>
    <main>

        <form class="delete-form" method="post" action="/eliminate/<%= product.id%> ?_method=DELETE">
            <div class="registroProducto">

                <h3 class="delete-title"> ¿ESTAS SEGURO DE ELIMINAR EL PRODUCTO? </h3>

                <section class="products">
                    <div class="productContainer">
                </section>
                <div class="product">
                    <div class="imgProduct"><img src="<%= product.image%>"></div>
                    <h3 class="name-price">
                        <%= product.name %>
                    </h3>
                    <h3 class="name-price">
                        <%= product.price %>
                    </h3>
                    <p class="desc">Descripción:
                        <br>
                        <%= product.description %>
                        <br>
                    </p>
                    <div class="prodDelete-buttons">
                        <button class="delete-button" type="submit" value="Actualizar">ELIMINAR</button>
            
                        <!-- <button type="reset" value="Cancelar">CANCELAR</button> -->
                    </div>
                </div>
            </div>
        </section>


            </div>
        </form>
    </main>
</body>

<footer>
    <div class="grupo2">
        <small>&copy; 2023 <b>Foo Drinks.Co</b> - Todos los derechos reservados</small>
    </div>
</footer>