<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head2') %>

    <body class="edit-body-product2">
        <%- include('../partials/header2') %>
            <main>
                <form class="prod-edit-form-main" method="post" action="/modify/<%= product.id %>?_method=PUT" enctype="multipart/form-data">
                    <ul class="errores">
            
                    </ul>
                    <div class="registroProducto-edit-form2">
                        <div class="edit2-box">

                        <h1>Editar Producto</h1>

                        <div class="edit2-name-product">
                        <label for="nameproduct"></label>
                        <input type="text" name="name" id="name"
                            value="<%= product.name %>"><p class="p"></p>
                            <% if (locals.errors && locals.errors.name) { %>
                                <p style="color: red;"><%= errors.name.msg %></p>  
                             <% } %>
                        </div>
                        <br>
                        <!-- paso los errores de back a front porque el codigo de frontend se puede llegar manipular -->

                        <div class="edit2-description">
                        <label for="description"></label>
                        <input type="text" name="description" id="description"
                            value="<%= product.description %>"><p class="p"></p>
                            <% if (locals.errors && locals.errors.description) { %>
                                <p style="color: red;"><%= errors.description.msg %></p>  
                             <% } %>
                        </div>
                        <br>

                        <div class="edit2-price">
                        <label for="price"></label>
                        <input type="number" name="price" id="price" value="<%= product.price %>"><p class="p"></p>
                        </div>
                        <br>

                        <div class="edit2-year">
                        <label for="year"></label>
                        <input type="text" name="year" id="year" value="<%= product.year %>"><p class="p"></p>
                        </div>
                        <br>

                        <div class="edit2-varietal">
                        <label for="varietal"></label>
                        <select class="select-prod-edit" name="varietal" id="varietal" >
                            <!-- <option selected disabled>Seleccione una variedad:</option> -->
                            

                            <% varietal.forEach(element=> { %>
                                <% if (product.varietal_id == element.id) { %>
                                    <option selected value="<%= element.id %>">
                                        <%= element.varietal_name %>
                                    </option>
                                <% } %>
                                <% if (product.varietal_id != element.id) { %>
                                    <option value="<%= element.id %>">
                                        <%= element.varietal_name %>
                                    </option>
                                <% } %>
                                <% }) %>

                        </select><p class="p"></p>
                        </div>
                        <br>

                        <div class="edit2-brand">
                        <label for="brand"></label>
                        <select class="select-prod-edit" name="brand" id="brand" >
                            <option disabled selected>Seleccione una marca:</option>
                            
                
                            <% brand.forEach(element => { %>
                                <% if (product.brand_id == element.id) { %>
                                    <option selected value="<%= element.id %>"><%= element.brand_name %></option>
                                <% } %>
                                <% if (product.brand_id != element.id) { %>
                                    <option value="<%= element.id %>"><%= element.brand_name %></option>
                                <% } %>
                                
                            <% }) %>
                        </select><p class="p"></p>
                        </div>
                        <br>
                        
                        <div class="edit2-origen">
                        <label for="origen"></label>
                        <select class="select-prod-edit"  name="origen" id="origen" >
                            <!-- <option disabled selected>Seleccione origen:</option> -->
                            
                            <% origin.forEach(element => { %>
                                <% if (product.origen_id == element.id) { %>
                                    <option selected value="<%= element.id %>"><%= element.country %></option>
                                <% } %>
                                <% if (product.origen_id != element.id) { %>
                                    <option value="<%= element.id %>"><%= element.country %></option>
                                <% } %>
                                
                            <% }) %>
                        </select><p class="p"></p>
                        </div>
                        </br>
                        
                        <div class="edit2-region">
                        <label for="region"></label>
                        <select class="select-prod-edit" name="region" id="region" >
                            <!-- <option disabled selected>Seleccione una región:</option> -->
                            

                            <% region.forEach(element => { %>
                                <% if (product.region_id == element.id) { %>
                                    <option selected value="<%= element.id %>"><%= element.region %></option>
                                <% } %>
                                <% if (product.region_id != element.id) { %>
                                    <option value="<%= element.id %>"><%= element.region %></option>
                                <% } %>
                                
                            <% }) %>
                        </select><p class="p"></p>
                        </div>
                        <br>
                        
                        <div class="edit2-category">
                        <label for="category"></label>
                            <select class="select-prod-edit" name="category" id="category" >
                                <!-- <option disabled selected>Seleccione una categoría:</option> -->
                                
                                
                                <% category.forEach(element => { %>
                                    <% if (product.category_id == element.id) { %>
                                        <option selected value="<%= element.id %>"><%= element.category_name %></option>
                                    <% } %>
                                    <% if (product.category_id != element.id) { %>
                                        <option value="<%= element.id %>"><%= element.category_name %></option>
                                    <% } %>
                                    
                                <% }) %>
                            </select><p class="p"></p>
                        </div>
                        </br>
                        <h2 class="edit2-image-product-form2">Cargar imágen de producto</h2>
                        <div class="load-img-prod-edit">
                            <label for="image"></label>
                            <input type="file" name="image" id="image">
                            <br>
                        </div>
                        <div class="edit2-image">
                            <img class="edit-form-img-edit-form" src="/img/product/<%= product.image%>">
                        </div>
                        
                        <% if (locals.errors && locals.errors.image) { %>
                         <% } %>

                        <div class="prodEdit-buttons-edit-form2">
                            <button class="sub-prodEdit-buttons-edit-form2" type="submit" value="Actualizar">ACTUALIZAR</button>
                            <br>
                        </div>
                    </div>
                </div>
                </form>
          
            </main>
                
                <footer>
                    <%- include('../partials/footer2') %>
                </footer>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
                <script src="/js/prodEdit.js" type="text/javascript"></script>
                <script src="/js/editFunctions.js" type="text/javascript"></script>

            </body>
            <br>