<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 
<body>
    <header>
        <%- include('../partials/header') %> 
    </header>

    <main>

        <% if(locals.userLogged && locals.userLogged.rol_id == 2) {%>
            <form class="prod-detail-form"  action="/edit/<%= productId.id %>" >
                <div class="btn-edit-prod-detail">
                    <button class="add-menu-prod-detail" type="submit">EDITAR</button>
                </div>
            </form>
            <form class="prod-detail-form"  action="/delete/<%= productId.id %>?_method=DELETE" method="POST">
                <div class="btn-edit-prod-detail">
                    <button class="add-menu-prod-detail" type="submit">ELIMINAR</button>
                </div>
            </form> <%} %>
        
        <section class="products-prod-detail">
            <div class="productContainer-prod-detail">
            </section>
            <div class="product-prod-detail">
                    <div class="imgProduct-prod-detail"><img src="/img/product/<%= productId.image%>"></div>
                    <h3 class="prod-name-prod-detail"><%= productId.name %></h3>
                    <br>
                    <h2 class="prod-price-prod-detail"><%= productId.price %></h2>
                    <br>
                    <form action="/carrito">
                        <button type="submit"> Agregar al carrito </button>
                    </form>
                    <br>
                    
                    <p class="desc-prod-detail">Descripción: 
                        <br>
                        <%= productId.description %> 
                        <br>
                    </p>  
                    <p class="desc-prod-detail">Variedad:<%= productId.Varietal.varietal_name %> 

                        
                    </p>
                    <br>
                    <p class="desc-prod-detail">Región:<%= productId.Region.region %></p>
                    <br>
                    <p class="desc-prod-detail">Origen:<%= productId.Origin.country %></p>
                    <br>
                        
                    <p class="shipping-prod-detail"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
                    <p class="rules-prod-detail"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS</p>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>