<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 
    <body>

    <%- include('./partials/header') %> 
    <hr>

        <main>
            <img class="carrusel-index" src="../img/carrusel/carrusel3.3.jpg" alt="carrusel">
            
            <!-- ---------------------------------------------------------- -->
            <section class="products-index">
                <div class="productContainer-index">

                    <!-- LE PASAMOS A LA URL EL ID DEL PRODUCTO DE LA ITERACION -->
                    <% productList.forEach(product => { %>
                        <div class="product-index">
                            <a href="/productDetail/<%= product.id %>">
                            <!-- <div class="imgProduct-index"> -->
                                <!-- IMPRIME LA IMAGEN DE LA ITERACION TRAIDO DEL JSON DE PRODUCTOS-->
                                <img src="/img/product/<%= product.image %>">
                            <!-- </div> -->
                            </a>
                            <!-- IMPRIME EL NOMBRE DE LA ITERACION TRAIDO DEL JSON DE PRODUCTOS-->
                            <h3 class="prod-name-index"><%= product.name %></h3>
                            <!-- IMPRIME EL PRECIO DE LA ITERACION TRAIDO DEL JSON DE PRODUCTOS-->
                            <h2 class="prod-price-index"><%= product.price %></h2>
                                <p class="country-index"> <img class="country-icon-index" src="../img/icons/icono-AR-48.png" alt="bandera-pais"> Mendoza, Argentina</p>
                                <p class="shipping-index"> <i class="fa-solid fa-box-open"></i> Envíos a todo el país</p>
                                <p class="rules-index"> <i class="fa-solid fa-lock"></i> PROHIBIDA SU VENTA A MENORES DE 18 AÑOS</p>
                        </div>
                    <% }) %>

                </div>
            </section>         
        </main>
    <%- include('./partials/footer') %> 
    
</body>
</html>