<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 
<body class="login-body">
        
        <%- include('../partials/header') %> 
        <hr>
        <main>

            
            <section class="login-section">
               <div class="loginBox">
                   <img class="avatar-login-img" src="../img/imgs/logo-sin-fondo-1-beige.png"/>
                      <h2 class="login-h2">Iniciar Sesión</h2>

                      <form action="/processLogin" method="post" class="login-form">
                          <!--Nombre Usuario-->
                          <label for="nombreUsuario">Ingresá tu Correo</label>
                          <input type="email" placeholder="Enter email" name="email" id="email">
                            <% if (locals.errors && errors.email) { %>
                            <p style="color: red"> <%= errors.email.msg %></p>
                            <% } %>  
                        
      
                          <!--Password-->
                          <label for="password">Ingresá tu contraseña</label>
                          <input type="password" placeholder="Enter Password" name="password" id="password">
                          <% if (locals.errors && errors.password) { %>
                            <p style="color: red"> <%= errors.password.msg %></p>
                            <% } %>  
                        
                          <div class="rememberme-login">
                            <input type="checkbox" name="rememberme" id="rememberme"><p>Recordame</p>
                          </div>
                          
   
                           <!-- PASAR EL INPUT SUBMIT A UN BUTTON SUBMIT -->
                           
                        <div>
                            <button type="submit" value="INICIAR SESIÓN">INICIAR SESIÓN</button>
                        </div>
                           
                           <!-- PASAR EL INPUT SUBMIT A UN BUTTON SUBMIT -->
                           
                          <a class="login-a" href="#">¿Perdiste tu password?</a>
                          <br>
                          <a class="login-a" href="#">¿No tenés cuenta?</a>
      
                      </label>
                      </form>
               </div>
            </section>
        </main>

        <%- include('../partials/footer') %> 
        <script src="/js/loginValidator.js" type="text/javascript"></script>
        <script src="/js/createFunctions.js" type="text/javascript"></script>
    </body>
</html>