
<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 
<body>

    <%- include('../partials/header') %> 
    <hr>
    <main class="profile-view">
            <div class="profile-section">

                <h3 class="profile-h3"> MI PERFIL </h3>
                <br>
                <img class="profile-img" src="/img/user/<%= locals.userLogged.avatar%>">

                <br>
                <!-- Revisar css -->
                <div class="profile-info">
                    <span class="profile-span">Hola <%= locals.userLogged.name %> <%= locals.userLogged.lastname %>!</span>
                <br>
    
                <span class="profile-span">Tu usuario es: <%= locals.userLogged.username %></span>
                <br>
                <span class="profile-span">Tu email: <%= locals.userLogged.email %></span>
                <br>
                <div class="category"> Categoría: <%= locals.user.rol_id %> </div>
                <br>
                <form action="/userEdit/<%= user.id %>"><button type="submit">Editar</button></form>
                </div>
                

                
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>