<!-- //TODO en construccion hay que renderizar la pagina solo copie desde el register hay que 
//ver los campos si estan bien sino modificar algunos nombres -->
<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 
<body>

    <%- include('../partials/header') %> 
    <hr>
    <main class="register-main">
            <div class="register">

                <h3> MI PERFIL </h3>
                <br>
                <img src="/img/user/<%= locals.userLogged.avatar%>">

                <br>
                <!-- Revisar css -->

                <span>Hola <%= locals.userLogged.name %> <%= locals.userLogged.lastname %>!</span>
                <br>
    
                <span>Tu usuario es: <%= locals.userLogged.username %></span>
                <br>
                <span>Tu email: <%= locals.userLogged.email %></span>
                <br>

                        <!-- <a href="/userModify/<%= locals.userLogged.id %>" ><button type="sumit">Editar Perfil</button></a> -->
                        <!--Retiramos el editar perfil porque no se pide en el Sprint 4, 5 y 6.-->
                <!-- Revisar el CSS boton con la accion para editar perfil a futuro -->
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>