<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 
<body>
    

    <%- include('../partials/header') %> 
    <hr>
    <main class="register-main">
        <form method="post" action = "/userSave"  enctype="multipart/form-data" >
            <div class="register">
                
                <h3 class="h3-register"> ¡Registrate! </h3>
                <br>
                
                <h4 class="profile-img-register">Foto de perfil</h4>
            
                <label for="image"></label>
                <input type="file" name="avatar" id="image">
                <br>
                <!-- Revisar css -->

                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="Nombre" required>
                <br>
    
                <label for="last-name"></label>
                <input type="text" name="lastname" id="last-name" placeholder="Apellido" required>
                <br>
    
                <label for="email"></label>
                <input type="text" name="email" id="email" placeholder="E-mail" required>
                <br>
    
                <label for="user-name"></label>
                <input type="text" name="username" id="user-name" placeholder="Nombre de usuario" required>
                <br>
                
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Contraseña" required>
                <br>
    
                <label for="confirm-password"></label>
                <input type="password" name="confirmpassword" id="confirm-password" placeholder="Confirmar contraseña" required>
                <br>

                <label for="rol"><h4>Tipo de Usuario: </h4></label>
                <select name="rol" id="rol">
                <option value="">Seleccione un Rol:</option>
                
                <% rol.forEach(element => { %>
                    <option value="<%= element.id %>"><%= element.rol_name %></option>
                <% }) %>
                
                </select>
                
                <div class="terms-cond-register">
                    <input type="checkbox" name="terminos-y-condiciones" id="" required>Acepto las condiciones de uso y políticas de privacidad.
                </div>
                <div class="register-buttons">
                    <button type="submit" value="Crear">GUARDAR</button>    
                </div>
            </div>          


         </form>
    </main>
    
    <%- include('../partials/footer') %> 
</body>
</html>